@using M3_SuperHeroCRUD.Models
@model SuperHero

@section head{
    <title>Create new Hero!</title>
    <meta name="keywords" content="create, hero creator, heroeditor" />
}

<h2>Create your Hero</h2>

<form action="/hero/create" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column">
    @Html.LabelFor(sh => sh.Name)
    @Html.EditorFor(sh => sh.Name)
    @Html.ValidationMessageFor(sh => sh.Name)

    @Html.LabelFor(sh => sh.Power)
    @Html.EditorFor(sh => sh.Power)
    @Html.ValidationMessageFor(sh => sh.Power)

    @Html.LabelFor(sh => sh.IsAlien)
    @Html.CheckBoxFor(sh => sh.IsAlien)

    @Html.LabelFor(sh => sh.HeroSide)
    @Html.DropDownListFor(sh => sh.HeroSide, Html.GetEnumSelectList(typeof(HeroSide)))

    <label>Picture</label>
    <input type="file" name="picturedata" />
    
    <br/>
    <input type="submit" value="Create" />
</form> 