@using M3_SuperHeroCRUD.Models
@model SuperHero

@section head {
    <title>Update your Hero!</title>
}

<h2>Update your Hero</h2>
<h3>@Model.Name</h3>

<form action="/hero/update" method="post" style="display: flex; flex-direction: column">
   @*  @Html.LabelFor(sh => sh.Name)
    @Html.EditorFor(sh => sh.Name)
    @Html.ValidationMessageFor(sh => sh.Name) *@
    @Html.HiddenFor(sh => sh.Name)
    
    @Html.LabelFor(sh => sh.Power)
    @Html.EditorFor(sh => sh.Power)
    @Html.ValidationMessageFor(sh => sh.Power)
    
    @Html.LabelFor(sh => sh.IsAlien)
    @Html.CheckBoxFor(sh => sh.IsAlien)

    @Html.LabelFor(sh => sh.HeroSide)
    @Html.DropDownListFor(sh => sh.HeroSide, Html.GetEnumSelectList(typeof(HeroSide)))

    <input type="submit" value="Update" />
</form> 